---
import { render } from "astro:content";
import { YouTube } from "astro-embed";
import Callout from "../components/Callout.astro";
import Gallery from "../components/Gallery.astro";
import HeadingTree from "../components/HeadingTree.astro";
import Image from "../components/Image.astro";
import Row from "../components/Row.astro";
import Spoiler from "../components/Spoiler.astro";
import Tag from "../components/Tag.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
import { getPosts } from "../posts.ts";
import { buildHeadingTree } from "../utils.ts";

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);
const headingTree = buildHeadingTree(headings);
---

<SiteLayout title={post.data.title}>
  {
    /* Not making this sticky because then when jumping to headers the scroll-y needs to be corrected */
  }
  <nav
    class="flex items-center px-4 py-2 gap-2 text-sm border-b border-slate-300 dark:bg-slate-800 dark:border-slate-700"
  >
    <a href="/" class="flex items-center group">
      <img
        src="/mcmire.png"
        width="128"
        height="128"
        alt="mcmire avatar"
        class="h-[1.5em] w-[1.5em] inline-block vertical-align-middle rounded-full pixelated border border-neutral-500 shadow-md dark:border-transparent"
      />
      &nbsp;&nbsp; <span class="group-hover:underline">Elliot Winkler</span>
    </a>
  </nav>
  <main
    class="pl-4 pr-4 pt-8 pb-4 lg:py-8 xl:pl-24 xl:flex xl:justify-center xl:gap-24"
  >
    <div class="overflow-x-auto max-w-[40rem] mx-auto xl:mx-[unset]">
      <header class="mb-8 text-center">
        <h1
          class="text-3xl font-semibold font-display mb-3 text-slate-900 dark:text-slate-100"
        >
          {post.data.title}
          {
            post.collection === "sample-posts" || !post.data.published ? (
              <div class="flex gap-2 justify-center mt-2">
                {post.collection === "sample-posts" ? (
                  <Tag class="bg-amber-500 dark:bg-amber-500/15 text-xl ml-2">
                    sample
                  </Tag>
                ) : null}
                {post.data.published ? null : (
                  <Tag class="bg-fuchsia-500 dark:bg-fuchsia-500/15 text-xl ml-2">
                    draft
                  </Tag>
                )}
              </div>
            ) : null
          }
        </h1>
        {
          post.data.publishDate || post.data.updatedDate ? (
            <p class="text-slate-700 text-[0.8rem] italic dark:text-slate-500">
              {post.data.publishDate
                ? post.data.publishDate.toLocaleString(undefined, {
                    dateStyle: "long",
                  })
                : null}
              <br class="sm:hidden" />
              {post.data.updatedDate ? (
                <span class="italic">
                  (Updated{" "}
                  {post.data.updatedDate.toLocaleString(undefined, {
                    dateStyle: "long",
                  })}
                  )
                </span>
              ) : null}
            </p>
          ) : null
        }
        <!--
        <p class="text-slate-700 text-[0.8rem] italic dark:text-slate-500">
        {post.data.tags}
        </p>
        -->
      </header>
      <article id="introduction" class="markdown">
        <Content
          components={{
            Callout,
            Gallery,
            Image,
            Row,
            Spoiler,
            YouTube,
          }}
        />
      </article>
    </div>
    {
      post.data.showToc ? (
        <aside class="flex-none text-xs hidden sticky top-[5rem] overflow-y-scroll h-[calc(100vh-7rem)] xl:block">
          <header class="text-base font-semibold mb-4">
            Table of Contents
          </header>
          <HeadingTree tree={headingTree} />
        </aside>
      ) : null
    }
  </main>
  {
    post.data.showToc ? (
      <aside class="flex-none text-xs hidden sticky top-[5rem] overflow-y-scroll h-[calc(100vh-7rem)] xl:block">
        <header class="text-base font-semibold mb-4">Table of Contents</header>
        <HeadingTree tree={headingTree} />
      </aside>
    ) : null
  }
</SiteLayout>
<footer
  class="p-4 mt-8 text-center border-t border-slate-300 dark:border-slate-700 text-xs"
>
  <p class="opacity-50 mb-2">
    Content and design © 2025-present <a
      class="link"
      href="mailto:elliot.winkler@gmail.com">Elliot Winkler</a
    >. Code is under the <a
      class="link"
      href="https://choosealicense.com/licenses/mit/">MIT license</a
    > unless stated. Graphics are under the <a
      class="link"
      href="https://creativecommons.org/licenses/by/4.0/deed.en"
      >CC BY license</a
    >.
  </p>
  <p class="opacity-50">
    Powered by <a class="link" href="https://astro.build">Astro</a> and hosted on
    <a class="link" href="https://vercel.com">Vercel</a>.
  </p>
</footer>
